@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e7e4ea;
}

.navbar {
  background-color: #e7e4ea;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Bu kısmı kaldır veya değiştir */
/* input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
} */

input[type="date"] {
  color: black; /* Metni tekrar görünür yap */
  text-indent: 0; /* Girdi metnini tekrar görünür yap */
}

/* İkon ve metin focus olduğunda normal davranmalı */
input[type="date"]:focus {
  color: black;
  text-indent: 0;
}
